<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Suas Listas</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item style="text-align: center;">
    <button ion-button round (click)="newList()"> Criar nova Lista</button>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor="let item of list">
      <ion-item [ngStyle]="item.selected == true ? setColor() : ''">
        <h1>{{item.title}}</h1>
        <p *ngFor="let item of item.content">{{item.content}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button color="danger" ion-button (click)="delete(item)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
        <button ion-button (click)="unselect(item)" *ngIf="item.selected">
          <ion-icon name="checkmark"></ion-icon>
          Concluir
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
